<%= render 'shared/page_title', title: "Recipes that use #{@ingredient.name}"%>

<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to "Recipes", recipes_path %>
	</li>
	<li>
		<%= link_to "Chefs", chefs_path %>
	</li>
</ul>

<div class="row">
	<div class="mol-md-4 col-md-4-offset center">
		<%= will_paginate @recipes %>
	</div>
</div>

<% @ingredient.recipes.each do |recipe| %>
	<div class="row">
		<div class="col-md-2">
			<section class="chef_info center">
				<%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
				<h5>Chef name: <%= link_to recipe.chef.chefname, chef_path(recipe.chef) %></h5>
			</section>
		</div>
		
		<div class="col-lg-6 well">
			<h4><%= link_to recipe.name, recipe_path(recipe.id) %></h4>
			<p><%= recipe.summary %></p>
			<p>
				<span class='quiet'><small>Updated: <%= time_ago_in_words(recipe.updated_at) %></small></span>,
				<span class='quiet'><small>Created: <%= time_ago_in_words(recipe.created_at) %></small></span>
			<% if recipe.styles.any? %>
				</p><%= "Style".pluralize(recipe.styles.size) %>: <%= render recipe.styles.order(:name) %><p>
			<% end %>
			</p><%= "Ingredient".pluralize(recipe.ingredients.size) %>: <%= render recipe.ingredients.order(:name) %><p>
			</p>
			<div class="pull-right">
				<%= link_to like_recipe_path(recipe, like: true), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
				<% end %>
				&nbsp &nbsp &nbsp &nbsp
				<%= link_to like_recipe_path(recipe, like: false), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
				<% end %>
			</div>
		</div>
		<div class='col-md-4'>
			<%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
		</div>
	</div>
	<hr/>
<% end %>

<div class="row">
	<div class="mol-md-4 col-md-4-offset center">
		<%= will_paginate @recipes %>
	</div>
</div>
